.wbody{
	background-color: whitesmoke;
}

.form-signin{
	width: 220px;
	height: 100px;
}

.form-signin-heading{
	font-size: 21px;
	text-align: center;
	border-color: crimson;
}

#dropdownMenu1{
	background-color: rgb(34,34,34);
	border: none;
	color: white;
}
#dropdownMenu1:hover{
	background-color: white;
	color: rgb(34,34,34);
}

#dropdownMenu2{
	background-color: rgb(34,34,34);
	border: none;
	color: white;
}
#dropdownMenu2:hover{
	background-color: white;
	color: rgb(34,34,34);
}
.btn-default1{
    color: #ccc;
    background-color: #333;
    border-color: #ccc;
}

.ico{
	clear: both;
	float: left;
	height: 24px;
	width: 24px;
}

.ico1{
	clear: both;
	float: left;
	height: 22px;
	width: 22px;
}

.set{
	float: left;
	margin: 0px;
}
.ico2{
	margin-left:-10px;
	margin-top:6px;
	float:left;
	height:35px;
	width:40px;
}
.ico3{
	margin-top: -11px;
	margin-left: -11px;
	padding: 0px;
	height:22px;
	width:22px;
	position: absolute;
	left: 50%;
	top: 50%;
}
.ico3:hover{
	cursor: pointer;
}

.block-main{
	top:50px;
	position: absolute;
	width: 100%;
	background-color: #fff;
}
.block-1{
	top: 0px;
	position: absolute;
	width: 100%;
	height: 60%; 
}
.block-2{
	bottom: 0px;
	position: absolute;
	width: 100%;
	height: 40%; 
	background-color: rgb(216,216,216);
}

.block-11{
	position: absolute;
	left: 0px;
	height: 100%;
	width: 20%;
	border-radius: 12px;
}

.nav1{
	width: 120px;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	background-color: black;
}

.nav1-top{
	margin:0 auto;
	width: 100%;
	top: 0px;
	left: 0px;
	height: 40px;
	position: absolute;
	border-bottom: #ccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-align: center;
}

.nav1-body{
	margin:0 auto;
	width: 100%;
	top: 40px;
	left: 0px;
	position: absolute;
	text-align: center;
}

.nav1-body-menu{
	margin:0 auto;
	width: 100%;
	top: 0px;
	left: 0px;
	position: absolute;
	text-align: center;
	list-style: none;
}

.nav1-body-menu>li{
	margin-left: -40px;
	list-style: none;
	width: 120px;
	display: inline-flex;
}

.nav1-body-menu>li>ul>li{
	list-style: none;
}

.nav1-body-list{
    margin:0px;
	padding:0px;
	list-style: none;
	display:none;
	width: 120px;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	position: absolute;
	left:121px;
	border:solid;
	border-color:rgb(197,197,197);
	border-width:1px;
	border-radius:3px;
	color: black;
	z-index: 2;
	background-color: white;
}

.nav1-body-menu>li>button{
	margin: 0px;
	padding: 0px;
	height: 30px;
	background-color: black;
	text-align: center;
	width: 119px;
	color: #fff;
	border: none;
	border-radius: 3px;
}

.nav1-body-menu>li>button:hover{
	background-color: #fff;
	color: black;
}

.nav1-body-list-item{
	margin: 5px;
	width: 110px;
	height: 20px;
	background-color: white;
	color: black;
	text-decoration: none;
}

.nav1-body-list-item:hover{
	background-color:rgb(245, 245, 245);
	color: black;
	cursor: pointer;
}

.nav1-body-list-item>a{
	text-decoration: none;
	color: black;
}

.nav1-body-list-item>a:hover{
	text-decoration: none;
	color: black;
}

.text-body{
	height: 100%;
	left: 120px;
	top: 0px;
	position: absolute;
	z-index: 1;
}

.text-body-1{
	height: 60%;
	left: 0px;
	width: 100%;
	top: 0px;
	position: absolute;
	z-index: 1;
}

.text-body-1-1{
	height: 90%;
	left: 10%;
	width: 80%;
	bottom: 0px;
	position: absolute;
	z-index: 1;
	border-bottom-style:dashed;
	border-bottom-width: 0.5px;
	border-bottom-color: rgb(194,213,227);
}



.text-body-1-1-1{
	height: 100%;
	left: 0%;
	width: 80%;
	top: 0px;
	position: absolute;
	z-index: 1;
}

.text-body-1-1-2{
	height: 100%;
	left: 80%;
	width: 20%;
	bottom: 20px;
	position: absolute;
	z-index: 1;
}

.text-body-2{
	margin: 0 auto;
	height: 40%;
	left: 0px;
	width: 100%;
	bottom: 0px;
	position: absolute;
	z-index: 1;
}

.text-body-2-1{
	height: 70%;
	left: 10%;
	width: 80%;
	top: 30px;
	position: absolute;
	z-index: 1;
}

.head-img-frame{
	right:0%;
	top:0%;
	width: 200px;
	height: 300px;
	position: absolute;
	
}

.head-img-title{
	height: 30px;
	font-family: ΢���ź�;
	font-weight: 500;
	font-size: 16px;
	text-align:center;
	font-weight: 700;
}

.head-img{
	margin-top: 10px;
	float: left;
	height: 200px;
	width: 140px;
	border-width: 2px;
	border-style: double;
	border: black;
}

.head-img-btn{
	position:absolute;
	bottom:40px;
	left:24px;
	width: 100px;
	height: 30px;
	background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
	cursor: pointer;
	box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	border-radius: 2px;
}

.head-img-btn:hover{ 
	background-color: white;
	color: black;
}

.head-img-inp{
	visibility:hidden;
	position:absolute;
	top:0px;
	width:0px;
}

#text-table1{
	height: 260px;
	width: 400px;
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	z-index:3;
}

#text-table2{
	height: 260px;
	width: 370px;
	float: left;
	text-align: left;
	font-size: 16px;
	font-weight: 700;
	z-index:3;
}

#text-table3{
	height: 120px;
	width: 850px;
	float: left;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	z-index:3;
}

.td1{
	width: 80px;
	display: table-cell;
	vertical-align: middle; 
}

.td2{
	width: 180px;
}

.td3{
	margin: 0 auto;
	width: 50px;
	display: table-cell;
	vertical-align: middle;     
	text-align: center;
}

.td4{
	width: 50px;
}

.td5{
	width: 100px;
}

.td6{
	width: 150px;
}

.td7{
	width: 20px;
}

.ico4{
	height: 22px;
	width: 22px;
}

.ico4:hover{
	cursor: pointer;
}

.inp4{
	background-color: rgb(240, 240, 240);
	border:none;
	height: 30px;
	text-align: center;
}

.td1-1{
	padding-top: 6px;
	background-color: rgb(240, 240, 240);
	border:none;
	height: 30px;
	line-height: 20px;
}

#text-title1{
	height: 30px;
	width: 200px;
	color: black;
	font-size: 18px;
	font-weight: 900;
	text-align: left;
}


.sel0{
	margin-top: 20px; 
	clear: both;
	float: left;
	background-color: rgb(240, 240, 240);
	width: 90px;
	height: 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	border: none;
}

.sel1{
	margin-top: 20px;
	float: left;
	background-color: rgb(240, 240, 240);
	width: 160px;
	height: 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	border: none;
	text-align: center;
	text-align-last: center;
}

.sel2{
	margin-top: 20px;
	float: left;
	background-color: white;
	width: 20px;
	height: 30px;
	font-size: 16px;
	font-weight: 700;
	line-height: 30px;
	border: none;
}
